@{
    ViewBag.Title = ViewBag.SEO.Title;
    ViewBag.Description = ViewBag.SEO.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>@ViewBag.SEO.H1</h1>

<p>Use this page to detail your site's privacy policy.</p>
